html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-image: url('./img/—Pngtree—film\ festival\ black\ atmospheric\ background_1474206.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    scroll-behavior: smooth;
}



header{
    background-color: #000000;
    padding: 15px 20px;
    text-align: center;
}

#title{
    font-family: Papyrus;
    font-size: 60px;

}

nav a{
    text-decoration: none;
    color: #FFD700;

}

a{
    padding: 15px 20px;
}

a:hover{
    background-color: #222222;
}

#btnLogin{
    position: absolute;
    top: 20px;      
    right: 20px;
    text-align: left;
}

article{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #424242;
}

article p {

    padding: 10px;
    color: white;
    font-size: 20px;
}

.coluna_meio {
    width: 50%;  /*Largura*/
    margin: 10px auto; /*Alinhamento*/
    background-color: #f0f0f0; 
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.1px;
    border-radius: 10px;
}

.grid{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #424242;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha as imagens ao topo */
    gap: 15px;


}


.grid img {
    margin: 20px;
    width: 65%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s, opacity 1s ease-in-out;;
}

.grid img.grande {

    height: 300px;  /* Tamanho da imagem grande */
    width: auto;

}

.pequena {    

    margin: auto;
    display: flex;
    flex-direction: column; /* Faz as imagens ficarem empilhadas */
    gap: 10px;  /* Espaçamento entre as imagens empilhadas */
    width: 30%;
    transition: transform 0.3s ease;
}


.grid img:hover {
    transform: scale(1.02);
    filter: brightness(0.7);
}


h3{
    width: auto;                /*Largura da caixa*/
    margin-bottom: 10px;             /*Espaço entre titulo de display*/
    padding-left: 15px;
    background-color: #424242; 
    color: white;               
    border-radius: 8px;        
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    
}


.navegar{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #424242;
    display: flex;              /*Imagens em linha*/
    overflow-x: auto;           /*Scroll*/
    padding: 14px 14px;
    gap: 15px;                  /*Espaçamento entre as imagens*/
}


.navegar img{
    height: 500px;              /*Tamanho Imagem*/
    border-radius: 5px;
    transition: transform 0.3s, filter 0.3s;
}

.navegar img:hover{
    transform: scale(1.04);      /*Almenta imagem*/
    filter: brightness(0.7);     /*Reduz brilho*/
}

table {

    width: 70%;
    border-collapse: collapse;
    margin: 20px;
}


table th, table td {
    background-color: white;
    border: 2px solid #474747;
    padding: 8px;
    text-align: left;

}

table th {
    background-color: rgb(231, 197, 0);
    color: rgb(58, 58, 58);

}

dialog{
    background-color: #424242;
    border-radius: 10px;
}

form{
    margin: 10px;
    background-color: #424242;
}

form label{
    margin: 30px;
    color: #FFD700;
    font-weight: bold;
}

button{
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}
